# Media coverage and climate change: datasets creation

In [3]:
import pandas as pd
import numpy as np
import glob
import os
import re

### Example

In [35]:
# import data and concatenate into one dataframe

# write your own path
# path = r'D:\Alexandrine\ENSAE\PDSSS\Projet-ENSAE-DSSS-main\Projet-ENSAE-DSSS-main\Data Collection\Result\data_raw_v2'
path = os.getcwd()
path = re.sub('Code','Result',path)
path_read = path + '\\data_raw_v2\\Libération*.csv'
path_write = path + '\\data_raw_final\\Libération.csv'

all_files = glob.glob(path_read)

In [23]:
li = []

for filename in all_files:
    # print(filename)
    df = pd.read_csv(filename, index_col=0, header=0)
    li.append(df)
    
data = pd.concat(li, axis=0, ignore_index=True)

In [26]:
data.tail(2)

,date,publication,words,author,title,intro
1407,2022-09-19,Libération,1585mots,Par Judicaël Lavrador Envoyé spécial à Lyon,Biennale de Lyon Un bouquet de morose,"... Réchauffement climatique, resserrement ..."
1408,2022-04-13,Libération,1525mots,Texte et photos Paul Boyer et Rémi Carton Envo...,MALAWI Avec les enfants des champs de tabac : ...,... 'étendent à perte de vue. En ce début d'...

In [28]:
data = data.drop_duplicates()

In [30]:
# convert dates to datetime type
data['date'] = pd.to_datetime(data['date'])

# sort by date
data.sort_values(by='date', inplace = True)

<ipython-input-30-a8a029ac3b09>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = pd.to_datetime(data['date'])
<ipython-input-30-a8a029ac3b09>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.sort_values(by='date', inplace = True)

In [32]:
data = data.reset_index(drop=True)

In [34]:
data.tail(3)

,date,publication,words,author,title,intro
1045,2022-12-31,Libération,712mots,Par Philippe Rahm,"«Le béton, l'aluminium et les façades vitrées ...",... nous ne renonçons à rien tant que les ...
1046,2022-12-31,Libération,1956mots,Par ÈVE SZEFTEL,"Contre le réchauffement, les villes en pleine ...",... «Libération» a recensé cinq expériences ...
1047,2022-12-31,Libération,1764mots,Par EVA FONTENEAU Correspondante à Bordeaux,Technologie Mettre du nouveau dans son vin,... de nouveaux outils pour réduire son emp...

In [36]:
# list of dates
# dates = list(lemonde_v2.date)
# dates = np.unique(dates)
data.to_csv(path_write)

### Function

In [38]:
# write a function to integrate data
def summarize_article(journal_name):
    
    path = os.getcwd()
    path = re.sub('Code','Result',path)
    
    path_read = path + '\\data_raw_v2\\'+ journal_name +'*.csv'
    path_write = path + '\\data_raw_final\\'+ journal_name+'.csv'

    all_files = glob.glob(path_read)
    
    li = []

    for filename in all_files:
        # print(filename)
        df = pd.read_csv(filename, index_col=0, header=0)
        li.append(df)
        
    data = pd.concat(li, axis=0, ignore_index=True)
    data = data.drop_duplicates()
    
    # convert dates to datetime type
    data['date'] = pd.to_datetime(data['date'])
    # sort by date
    data.sort_values(by='date', inplace = True)
    
    data = data.reset_index(drop=True)
    
    data.to_csv(path_write)
    
    return None

### Libération

In [39]:
summarize_article('Libération')

### Les Echos

In [40]:
summarize_article('Les Echos')

### La Croix

In [41]:
summarize_article('La Croix')

### Le Monde

In [45]:
summarize_article('Le Monde')

### Le Figaro

In [43]:
summarize_article('Le Figaro')

### Le Parisien

In [44]:
summarize_article('Le Parisien')

### Le Monde - Basic analysis

In [47]:
path = os.getcwd()
path = re.sub('Code','Result',path)
path = path + '\\data_raw_final\\Le Monde.csv'

lemonde = pd.read_csv(path, index_col=0, header=0)

In [48]:
lemonde.head()

,date,publication,words,author,title,intro
0,2013-01-05,Le Monde,401mots,Pierre Le Hir,"Avec le réchauffement, les tourbières se trans...",... pourraient se comporter non plus en pui...
1,2013-01-11,Le Monde,1066mots,"Propos recueillis par Marie-Béatrice Baudet, D...",Christophe de Margerie : « Le changement clima...,"... population mondiale, 2 % des énergies p..."
2,2013-01-16,Le Monde,324mots,P. L. H.,Transition énergétique : le clair-obscur de l'...,... la transition énergétique n'a de vrai s...
3,2013-01-17,Le Monde,373mots,S. Fo.,"Les particules du diesel et des feux de bois, ...",... évaluation de la contribution des suies...
4,2013-01-23,Le Monde,604mots,Corine Lesnes,L'Amérique solidaire et égalitaire de M. Obama,... 'égalité pour les homosexuels dans un di...

In [28]:
# you may need to change the following code

lemonde['year'] = lemonde_all['year'].astype(str)
lemonde['month'] = lemonde_all['month'].astype(str)

In [37]:
lemonde_all['date'] = lemonde_all['year'].str.cat(lemonde_all['month'], sep='-')
lemonde_all['date'] = pd.to_datetime(lemonde_all['date']).dt.strftime('%Y-%m')
del lemonde_all['year']
del lemonde_all['month']

In [13]:
lemonde_all.head(3)

   year  month  number
0  2013      1    3120
1  2013      2    3145
2  2013      3    3512

In [39]:
lemonde_all.to_csv('lemonde_all.csv', index=False)